/* Exercise 1 CSS */

#boite {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;

}

#square {
    height: 200px;
    width: 200px;
    background-color: rgb(41, 182, 123);
    display: flex;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    align-items: center;
    transition: background-color 0.3s ease;
}

.text {
    justify-content: center;
    position: absolute;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: azure;
    text-align: center;
}

h1:hover {
    color: rgb(183, 238, 238);
}


/* Exercise 2 CSS */

.line1 {
    display: flex;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    align-items: center;
    gap: 10px;
    margin: 10px
}

#squareboxes {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;

}

.squarebox {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    align-items: center;
    transition: background-color 0.3s ease;
}

.line2 {
    display: flex;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    align-items: center;
    margin: 10px
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}

.four {
    background-color: yellow;
}

.selection {
    background-color: red;
}

.selection h3 {
    color: black;
}

/* Exercise 3 CSS */

.hello {
    background-color: rgb(41, 182, 123);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    align-items: center;
    transition: all 1s ease;

}

h4 {
    color: aliceblue;
}

#foursquares {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.red {
    background-color: rgb(189, 50, 50);
    transform: rotate(360deg) scale(1.1);
    transition: all 1s ease;
}


/* Exercise 4 CSS */




section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background: rgb(192, 192, 192);

}

.carres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 30px;
}

.carres .carre {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    font-size: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.carres .carre.fb { 
    background: #3B5998; 
}

.carres .carre.tw { 
    background: #00ACEE; 
}

.carres .carre.insta { 
    background: #E1306C; 
}

.carres .carre ion-icon {
    transform: translateY(10px);
    transition: 1s;
}

.carres .carre span {
    font-size: 10px;
    opacity: 0;
    transition: 1s;
}

/* Au clic */ 

.carres .carre.active {
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.carres .carre.active ion-icon {
    transform: translateY(-5px) rotate(360deg);
}

.carres .carre.active span {
    opacity: 1;
    transition-delay: .8s;
}

.carres .carre.active.fb {
    box-shadow: #0d307a 0px 25px 20px -20px;
}

.carres .carre.active.tw {
    box-shadow: #0484b6 0px 25px 20px -20px;
}

.carres .carre.active.insta {
    box-shadow: #d81455 0px 25px 20px -20px;
}


/* Exercise 5 CSS */

#five {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    
}

.figure {
    height: 80vh;
    width: 89vw;
    background-image: url("5.webp");
    display: flex;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.square5 {
    height: 400px;
    width: 400px;
    background-color: rgb(141, 148, 145);
    opacity: 0.86;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    transition: background-color 0.3s ease;
    background-color: rgba(110, 107, 107, 0.5);
    backdrop-filter: blur(250px);
    padding-top: 100px;
}

#euroInput {
    width: 250px;
    height: 30px;
    font-size: 1.25em;
    text-align: end;    
    background-color: rgb(255, 255, 255);
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(250px);
}

.line5 {
    padding: 20px;
}
